header, footer {
    background-color: #0867A3;
    color: #FFF;
}

h1 {
    font-family: Tahoma, Verdana, sans-serif;
}

h3 {
    font-family: Tahoma, Verdana, sans-serif;
}

p {
    font-family: Palatino, Verdana, sans-serif ;
}

nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px;
}

nav li {
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
}

header {
    padding-bottom: 5px;
}

.gameimage {
    max-width: 10%
    
}

img {
    max-width: 100%;
}